@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: black;
  background-color: #9ad0c2;
  font-family: "Times New Roman", Times, serif;
}
.navbar {
  background-color: #ecf4d6;
}
.footer {
  background-color: #265073;
}

[data-theme="dark"] body {
  color: white;
  background-color: black;
}
[data-theme="dark"] .navbar {
  background-color: #1ee61e;
}

.card {
  min-height: 70vh;
}
