@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: rgb(165, 212, 165);
  font-family: "Times New Roman", Times, serif;
}

[data-theme="dark"] body {
  color: white;
  background-color: black;
}
